USE [master]
GO
/****** Object:  Database [MISA.WDT02.PVTRONG]    Script Date: 5/3/2020 7:24:50 PM ******/
CREATE DATABASE [MISA.WDT02.PVTRONG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MISA.WDT02.PVTRONG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MISA.WDT02.PVTRONG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MISA.WDT02.PVTRONG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MISA.WDT02.PVTRONG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MISA.WDT02.PVTRONG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MISA.WDT02.PVTRONG]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [uniqueidentifier] NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[GroupCustomer] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[Commune] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Birthday] [datetime] NULL,
	[TextNote] [nvarchar](255) NULL,
	[MemberCode] [int] NULL,
	[Rank] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[Taxcode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Street] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_CustomerCode]    Script Date: 5/3/2020 7:24:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_CustomerCode] ON [dbo].[Customer]
(
	[MemberCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_CustomerName]    Script Date: 5/3/2020 7:24:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_CustomerName] ON [dbo].[Customer]
(
	[CustomerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_GroupCustomer]    Script Date: 5/3/2020 7:24:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_GroupCustomer] ON [dbo].[Customer]
(
	[GroupCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Mobile]    Script Date: 5/3/2020 7:24:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_Mobile] ON [dbo].[Customer]
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerID]  DEFAULT (newid()) FOR [CustomerID]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  StoredProcedure [dbo].[Pro_DeleteCustomer]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pro_DeleteCustomer]
	@CustomerID UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT OFF;
	DELETE FROM dbo.Customer WHERE CustomerID = @CustomerID
END
GO
/****** Object:  StoredProcedure [dbo].[Pro_GETCustomerByID]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pro_GETCustomerByID]
	@CustomerID UNIQUEIDENTIFIER

AS
BEGIN
	SET NOCOUNT OFF;
	SELECT * FROM dbo.Customer AS C WHERE C.CustomerID = @CustomerID
END
GO
/****** Object:  StoredProcedure [dbo].[Pro_GETCustomers]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pro_GETCustomers]
AS
BEGIN
	SET NOCOUNT OFF;
	SELECT * FROM dbo.Customer;
END
GO
/****** Object:  StoredProcedure [dbo].[Pro_InsertCustomer]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pro_InsertCustomer]
		@CustomerID UNIQUEIDENTIFIER,
        @CustomerCode NVARCHAR(50),
        @CustomerName NVARCHAR(100),
        @Mobile NVARCHAR(50),
        @GroupCustomer  NVARCHAR(50),
        @City NVARCHAR(50),
        @District NVARCHAR(50),
        @Commune NVARCHAR(50),
		@Street NVARCHAR(50),
        @Email NVARCHAR(50),
        @Birthday datetime,
        @TextNote NVARCHAR(255),
        @MemberCode int,
        @Rank NVARCHAR(50),
        @CMND NVARCHAR(50),
        @Company NVARCHAR(50),
        @Taxcode NVARCHAR(50),
        @CreatedDate datetime,
        @CreatedBy  NVARCHAR(50),
        @ModifiedDate datetime,
        @Status int
AS
BEGIN
	SET NOCOUNT OFF;
	INSERT INTO dbo.Customer
	(
		CustomerID,
        CustomerCode,
        CustomerName,
        Mobile,
        GroupCustomer,
        City,
        District,
        Commune,
		Street,
        Email,
        Birthday,
        TextNote,
        MemberCode,
        Rank,
        CMND,
        Company,
        Taxcode,
        CreatedDate,
        CreatedBy,
        ModifiedDate,
        Status
		)
		VALUES
		(
		@CustomerID,
        @CustomerCode,
        @CustomerName,
        @Mobile,
        @GroupCustomer,
        @City,
        @District,
        @Commune,
		@Street,
        @Email,
        @Birthday,
        @TextNote,
        @MemberCode,
        @Rank,
        @CMND,
        @Company,
        @Taxcode,
        @CreatedDate,
        @CreatedBy,
        @ModifiedDate,
        @Status
		
		)
END
GO
/****** Object:  StoredProcedure [dbo].[Pro_UpdateCustomer]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pro_UpdateCustomer]
		@CustomerID UNIQUEIDENTIFIER,
        @CustomerCode NVARCHAR(50),
        @CustomerName NVARCHAR(100),
        @Mobile NVARCHAR(50),
        @GroupCustomer  NVARCHAR(50),
        @City NVARCHAR(50),
        @District NVARCHAR(50),
        @Commune NVARCHAR(50),
		@Street NVARCHAR(50),
        @Email NVARCHAR(50),
        @Birthday datetime,
        @TextNote NVARCHAR(255),
        @MemberCode int,
        @Rank NVARCHAR(50),
        @CMND NVARCHAR(50),
        @Company NVARCHAR(50),
        @Taxcode NVARCHAR(50),
        @CreatedDate datetime,
        @CreatedBy  NVARCHAR(50),
        @ModifiedDate datetime,
        @Status int
AS
BEGIN
	SET NOCOUNT OFF;
	UPDATE dbo.Customer 
		SET CustomerCode = @CustomerCode,
			CustomerName = @CustomerName,
			Mobile = @Mobile,
			GroupCustomer = @GroupCustomer,
			City = @City,
			District = @District,
			Commune = @Commune,
			Street = @Street,
			Email = @Email,
			Birthday = @Birthday,
			TextNote = @TextNote,
			MemberCode = @MemberCode,
			Rank = @Rank,
			CMND = @CMND,
			Company = @Company,
			Taxcode = @Taxcode,
			CreatedDate = @CreatedDate,
			CreatedBy = @CreatedBy,
			ModifiedDate = @ModifiedDate,
			Status = @Status
			
	WHERE CustomerID = @CustomerID;
	
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetCustomers]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetCustomers]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT TOP 100 * FROM dbo.MISA_WDT02_PVTRONG AS C;
END
GO
/****** Object:  StoredProcedure [dbo].[Proc_InsertCustomer]    Script Date: 5/3/2020 7:24:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Proc_InsertCustomer]
	@CustomerID UNIQUEIDENTIFIER ,
	@CustomerCode nvarchar(50) ,
	@CustomerName nvarchar(100),
	@Mobile nvarchar(50) ,
	@GroupCustomer nvarchar(50) ,
	@City nvarchar(50),
	@District nvarchar(50),
	@Commune nvarchar(50),
	@Street nvarchar(50),
	@Email nvarchar(50),
	@Birthday DATETIME,
	@TextNote nvarchar(255),
	@MemberCode INT,
	@Rank nvarchar(50),
	@CMND nvarchar(50),
	@Company nvarchar(50),
	@Taxcode nvarchar(50),
	@CreatedDate DATETIME,
	@CreatedBy nvarchar(50),
	@ModifiedDate DATETIME,
	@Status INT

AS
BEGIN
	SET NOCOUNT OFF;
	INSERT INTO dbo.Customer(
	CustomerID,
	CustomerCode,
	CustomerName,
	Mobile,
	GroupCustomer ,
	City ,
	District ,
	Commune ,
	Street ,
	Email ,
	Birthday,
	TextNote ,
	MemberCode,
	Rank ,
	CMND ,
	Company,
	Taxcode,
	CreatedDate ,
	CreatedBy ,
	ModifiedDate ,
	Status
	
	)
	VALUES
	(
	@CustomerID,
	@CustomerCode,
	@CustomerName,
	@Mobile,
	@GroupCustomer ,
	@City ,
	@District ,
	@Commune ,
	@Street ,
	@Email ,
	@Birthday,
	@TextNote ,
	@MemberCode,
	@Rank ,
	@CMND ,
	@Company,
	@Taxcode,
	@CreatedDate ,
	@CreatedBy ,
	@ModifiedDate ,
	@Status
	)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khoá chính' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số điện thoại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Mobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nhóm khách hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'GroupCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thành phố' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Quận/Huyện' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'District'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phường/Xã' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Commune'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ghi chú' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'TextNote'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã thẻ thành viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'MemberCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hạng thẻ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Rank'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số CMND/Hộ chiếu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CMND'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Công ty' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã số thuế' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Taxcode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày tạo bản ghi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người tạo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày thực hiện chỉnh sửa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'ModifiedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'index cột CustomerCode' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'INDEX',@level2name=N'IX_Customer_CustomerCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'index cột CustomerName' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'INDEX',@level2name=N'IX_Customer_CustomerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'index cột GroupCustomer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'INDEX',@level2name=N'IX_Customer_GroupCustomer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'index cột Mobile' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'INDEX',@level2name=N'IX_Customer_Mobile'
GO
USE [master]
GO
